.alert{
    background-color:pink;
}

img {
    width: 400px;
  
}

.red{
    color: rgb(107, 0, 0);
}

body,
html {
    background: url(background-parchment.jpg); 
    background-repeat:no-repeat; 
    background-attachment: fixed; 
    background-size:100% 100%;
    
}

h1,
h2 {
    font-family: 'Creepster';
}

h1 {
    font-size: 80px;
    text-align: center;
    color: rgb(19, 1, 1);
    margin-top: -20px;
    padding-top: 50px;
}
 
.container {
    vertical-align: 0%;
    width: 50%;
    text-align: center;
    margin: 0px auto;
}

p {
    font-family: 'Creepster', cursive;
    font-size: 26px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

a {
    color: #49BBAC;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}